In [7]:
import pandas as pd
import requests
print("Imprted")

Imprted

In [11]:
response=requests.get('https://dog.ceo/api/breeds/list/all')

In [13]:
pd.DataFrame(response.json()).head()

              message   status
affenpinscher      []  success
african            []  success
airedale           []  success
akita              []  success
appenzeller        []  success